// Imports
//  * Bootswatch variables
//  * Bootstrap sass
//  * Boostwatch scss
@import 'bootswatch/slate/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootswatch/slate/bootswatch';
