# javascript
node_modules
dist
build
deps

# css
scss/boostwatch

# giottojs
giottojs/docs/_build/
giottojs/media/lux
giottojs/media/*.js
giottojs/media/*.css
giottojs/media/*.json

.idea
.project
.pydevproject
.grunt
.coveralls.yml
clean.py
*.log
*.pyc
__pycache__
.DS_Store
coverage
