# javascript
node_modules
dist
build
deps

# css
scss/bootswatch
scss/highlight

# giottojs
../dynts/giottojs/docs/_build/
../dynts/giottojs/media/lux
../dynts/giottojs/media/giottojs/*.js
../dynts/giottojs/media/giottojs/*.css
../dynts/giottojs/media/tests.config.js
../dynts/giottojs/media/*.json

.idea
.project
.pydevproject
.grunt
.coveralls.yml
clean.py
*.log
*.pyc
__pycache__
.DS_Store
coverage
