@charset "UTF-8";
/*
------------------------------------------------------------------
Created by lux in 0.0 seconds
Date: 2014-12-24 14:59:28

http://quantmind.github.io/lux/
------------------------------------------------------------------ */

.sunburst text {
    z-index: 9999;
}

.sunburst path {
    stroke: #fff;
    fill-rule: evenodd;
}

.axis {
    shape-rendering: crispEdges;
    fill: none;
}

.line {
    fill: none;
}

.d3-tip:after {
    display: inline;
    line-height: 1;
    width: 100%;
    position: absolute;
    font-size: 16px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.d3-tip.n:after {
    text-align: center;
    content: "\25BC";
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
}

.d3-tip.s:after {
    text-align: center;
    content: "\25B2";
    margin: 0 0 2px 0;
    top: -8px;
    left: 0;
}

.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
}
