@charset "UTF-8";
/*
------------------------------------------------------------------
Created by lux in 0.12 seconds
Date: 2014-12-12 13:29:21

http://quantmind.github.io/lux/
------------------------------------------------------------------ */

.lazyContainer {
    position: relative;
}

.lazyContainer > .content {
    position: absolute;
    min-height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.push-bottom {
    margin-bottom: 20px !important;
}

.hljs-comment,.hljs-title{color:#8e908c}.hljs-variable,.hljs-attribute,.hljs-tag,.hljs-regexp,.ruby .hljs-constant,.xml .hljs-tag .hljs-title,.xml .hljs-pi,.xml .hljs-doctype,.html .hljs-doctype,.css .hljs-id,.css .hljs-class,.css .hljs-pseudo{color:#c82829}.hljs-number,.hljs-preprocessor,.hljs-pragma,.hljs-built_in,.hljs-literal,.hljs-params,.hljs-constant{color:#f5871f}.ruby .hljs-class .hljs-title,.css .hljs-rules .hljs-attribute{color:#eab700}.hljs-string,.hljs-value,.hljs-inheritance,.hljs-header,.ruby .hljs-symbol,.xml .hljs-cdata{color:#718c00}.css .hljs-hexcolor{color:#3e999f}.hljs-function,.python .hljs-decorator,.python .hljs-title,.ruby .hljs-function .hljs-title,.ruby .hljs-title .hljs-keyword,.perl .hljs-sub,.javascript .hljs-title,.coffeescript .hljs-title{color:#4271ae}.hljs-keyword,.javascript .hljs-function{color:#8959a8}.hljs{display:block;overflow-x:auto;background:white;color:#4d4d4c;padding:0.5em;-webkit-text-size-adjust:none}.coffeescript .javascript,.javascript .xml,.tex .hljs-formula,.xml .javascript,.xml .vbscript,.xml .css,.xml .hljs-cdata{opacity:0.5}
body {
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    line-height: 1.5;
    background: #fff;
}

p.form-error {
    margin: 0;
}

.form-group .help-block {
    display: none;
}

.form-group.has-error .help-block.active,
.form-error span {
    display: block;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav.navbar-nav > li > a {
    outline: none;
}

.katex-outer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

code.hljs.inline {
    padding: 2px 4px;
    display: inline;
    padding: 2px 4px;
    display: inline;
}

dl dd {
    margin-left: 30px;
    margin-left: 30px;
}

dl.class dl.method {
    color: rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

dl.class > dt > tt.descname,
dl.function > dt > tt.descname {
    font-size: 24px;
    font-size: 24px;
}

dl.class dt tt.descname,
dl.function dt tt.descname {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

dl.class dt,
dl.function dt {
    font-weight: normal;
    font-size: 18px;
    color: #888;
    font-weight: normal;
    font-size: 18px;
    color: #888;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.navbar {
    min-height: 50px;
}

.navbar .navbar-toggle {
    margin-top: 8px;
}

.navbar-default {
    background: #f8f8f8;
}

.navbar2-wrapper {
    width: 100%;
    min-height: 100%;
}

.navbar2-page {
    background: #fff;
    padding: 70px 15px 0;
}

@media all and (min-width:768px) {
    .navbar2-page {
        margin: 0 0 0 200px;
    }

    .navbar2-wrapper.navbar-default .navbar2-page {
        border-left: 1px solid #e7e7e7;
    }

}
@media all and (min-width:768px) {
    .sidebar {
        margin-top: 51px;
        position: absolute;
        width: 200px;
        z-index: 1;
    }

}
.scroll-target {
    background: #99EBFF;
}

.scroll-target.finished {
    background: inherit;
    -webkit-transition: all 2s ease;
       -moz-transition: all 2s ease;
         -o-transition: all 2s ease;
            transition: all 2s ease;
}

.media-list > .media > a {
    text-decoration: none;
    color: #808080;
}

.media-list > .media > a .post-body {
    margin-left: 160px;
}

.media-list > .media > a h3 {
    font-weight: normal;
    color: #333;
}

.post-image {
    width: 140px;
    max-height: 140px;
    height: auto;
    float: left;
}

.post-image-xs {
    max-width: 90%;
    max-height: 150px;
    width: auto;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

a.headerlink {
    text-decoration: none;
    color: #eee;
    visibility: hidden;
    padding: 0 4px;
}

a.headerlink:hover {
    color: #b3b3b3;
}

.viewcode-link {
    float: right;
}

div.viewcode-block:target {
    margin: -1px -10px;
    padding: 0 10px;
}

table.docutils.field-list th {
    padding: 0 20px 0 0;
}

.trianglify-background {
    padding-top: 30px;
}

.trianglify-box {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

#page-error {
    color: #fff;
    background-image: url(/media/giottoweb/see.jpg);
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
}

#page-error a,
#page-error a:hover {
    text-decoration: underline;
    color: #fff;
}

.error-message-container {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    padding: 40px 120px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.error-message p {
    font-size: 50px;
}

@media all and (max-width:768px) {
    .error-message p {
        font-size: 32px;
    }

    .error-message-container {
        text-align: center;
        padding: 40px 0;
    }

}