@charset "UTF-8";
/*
------------------------------------------------------------------
Created by lux in 0.0 seconds
Date: 2015-01-28 18:21:47

http://quantmind.github.io/lux/
------------------------------------------------------------------ */

.sunburst text {
    z-index: 9999;
}

.sunburst path {
    stroke: #fff;
    fill-rule: evenodd;
}

.axis,
.d3-slider-axis line {
    shape-rendering: crispEdges;
    fill: none;
}

.line {
    fill: none;
}

.d3-tip:after {
    width: 100%;
    line-height: 1;
    position: absolute;
    font-size: 16px;
    display: inline;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.d3-tip.n:after {
    margin: -2px 0 0 0;
    left: 0;
    text-align: center;
    top: 100%;
    content: "\25BC";
}

.d3-tip.e:after {
    margin: -4px 0 0 0;
    left: -8px;
    top: 50%;
    content: "\25C0";
}

.d3-tip.s:after {
    margin: 0 0 2px 0;
    left: 0;
    text-align: center;
    top: -8px;
    content: "\25B2";
}

.d3-tip.w:after {
    margin: -4px 0 0 -1px;
    left: 100%;
    top: 50%;
    content: "\25B6";
}

.d3-slider {
    margin: 20px;
    position: relative;
    font-size: 1.1em;
    z-index: 2;
    font-family: Verdana,Arial,sans-serif;
    border: 1px solid;
}

.d3-slider-horizontal {
    height: 0.8em;
}

.d3-slider-horizontal.d3-slider-axis {
    margin-bottom: 30px;
}

.d3-slider-range {
    right: 0;
    position: absolute;
    left: 0;
    height: 0.8em;
}

.d3-slider-range-vertical {
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.d3-slider-range-vertical.d3-slider-axis {
    margin-right: 30px;
}

.d3-slider-vertical {
    width: 0.8em;
    height: 100px;
}

.d3-slider-handle {
    width: 1.2em;
    position: absolute;
    height: 1.2em;
    z-index: 3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    border: 1px solid;
}

.d3-slider-horizontal .d3-slider-handle {
    margin-left: -0.6em;
    top: -0.25em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;
}

.d3-slider-axis-bottom {
    top: 0.8em;
}

.d3-slider-axis-right {
    left: 0.8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    margin-left: 0;
    margin-bottom: -0.6em;
    left: -0.25em;
}
