<section id="page-main" full-page>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>$title</h1>
            </div>
        </div>
    </div>
    <div class="row hidden-print">
        <div class="col-sm-8">
            <breadcrumbs></breadcrumbs>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" lux-highlight>
            {{ html_main }}
        </div>
        <div class="col-sm-4 hidden-print">
        <cms-links data-url="/api/_links" data-scrollspy></content-links>
        </div>
    </div>
</div>
</section>
