<main id="page-header" class="page-header landing">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" full-page>
                <div class="center-block" style="max-width: 400px">
                    <img id="giotto-logo" src="${MEDIA_URL}giottojs/giotto.svg" alt="GiottoJS" class="img-responsive">
                </div>
                <h2>GiottoJS</h2>
                <p class="lead">D3 based Visualization Library</p>
                <p class="lead hidden-xs">
                    <a class="btn btn-primary btn-lg btn-landing" href="https://github.com/quantmind/giotto">
                    <i class="fa fa-github fa-lg"></i> Source Code</a>
                    <a class="btn btn-primary btn-lg btn-landing" href="/download">
                    <i class="fa fa-download fa-lg"></i> Download</a>
                </p>
            </div>
        </div>
    </div>
</main>

<div id="page-main">
    $html_main
</div>
