<main id="page-header" class="page-header $name-header">
    <div class="container fullpage">
        <div class="row fullpage">
            <div class="col-sm-12 text-center fullpage">
                <br>
                <br>
                <img id="lux-logo" src="${MEDIA_URL}giotto.svg" alt="Lux">
                <br>
                <h2>GiottoJS</h2>
                <p class="lead">D3.JS based Visualization Library</p>
                <p class="lead hidden-xs">
                    <a class="btn btn-primary btn-lg width160" href="https://github.com/quantmind/giotto">
                    <i class="fa fa-github fa-lg"></i> Source Code</a>
                    <a class="btn btn-primary btn-lg width160" href="/download">
                    <i class="fa fa-download fa-lg"></i> Download</a>
                </p>
            </div>
        </div>
    </div>
</main>

<div id="page-main">
    $html_main
</div>
