// Lux mixins
@import '../deps/lux/mixins/all';

// Lux Dependencies
@import '../deps/lux/components/writing';
@import '../deps/lux/components/datepicker';
@import '../deps/lux/components/fileupload';
@import '../deps/lux/components/grid';
@import '../deps/lux/components/navbar';
@import '../deps/lux/components/pagination';
@import '../deps/lux/components/sidebar';


.navbar .navbar-brand {
  padding: 5px;

  img {
    height: 50px;
  }
}

// Padding for fixed header
._header-padding{
    padding-top: 60px;
}

#page-main {
    padding-bottom: 60px;
}

#footer {
    min-height: 300px;
    padding: 30px 0 40px;
    background: $site-footer-background;
    color: $site-footer-color;
}

.features article {
    padding: 30px;
    width: 33.33%;
    float: left;
}

.landing {
    background-color: $site-landing-background;
}
.btn-landing {
    width: 160px;
}
