
#page > .navbar {

  background-color: $site-landing-background;

  .navbar-brand {
    padding: 5px;

    img {
      height: 50px;
    }
  }
}

#page-main {
    padding-bottom: 60px;
}

#footer {
    min-height: 300px;
    padding: 30px 0 40px;
    background: $site-footer-background;
    color: $site-footer-color;
}

.landing {
    background-color: $site-landing-background;
    color: $site-landing-color;
}

.btn-landing {
    width: 160px;
}
