$chart-background: #fff;
$axis-color: #ccc;


/** giottojs.org styling
*/
$site-landing-background: #3e3f3a;
$site-landing-color: #F2E905;
$site-footer-background: #333;
$site-footer-color: $gray-light;
