<navbar2 data-options="lux.context.navbar">
    <div class='row'>
        <div class='col-sm-12' data-highlight data-toc>
            $html_main
        </div>
    </div>
</navbar2>

<script type="text/javascript">
require(['lux/lux', 'dist/d3ext', 'angular-ui-router', 'angular-strap'], function (lux, d3) {
    var sitemap = function () {
        var s = ['sunburst',
                 'force',
                 {href: 'c3', name: 'time series'},
                 'trianglify'],
            all = [];
        //
        s.forEach(function (v) {
            if (typeof(v) === 'string')
                v = {href: v, name: v};
            v.href = lux.context.url + '/examples/' + v.href;
            all.push(v);
        })
        return all;
    };
    //
    lux.extend({
        navbar: {
            brand: 'd3ext',
            theme: 'default',
            items: [{href: 'https://github.com/quantmind/d3ext',
                     icon: 'fa fa-github fa-2x',
                     name: 'bla'}],
            items2: sitemap()
        }
    })
    .addD3ext(d3)
    .bootstrap('d3extensions', ['lux.nav', 'd3viz']);
});
</script>
